// NRI_ENABLE_NIS_SDK
#ifdef __spirv__
NIS.cs.hlsl -T cs -m 6_0 -D NIS_FP16=0 -D NIS_HDR_MODE={0,1} -D NIS_OUTPUT_FORMAT={0,1,2,3} -D NIS_THREAD_GROUP_SIZE={128,256}
NIS.cs.hlsl -T cs -m 6_2 -D NIS_FP16=1 -D NIS_HDR_MODE={0,1} -D NIS_OUTPUT_FORMAT={0,1,2,3} -D NIS_THREAD_GROUP_SIZE={128,256}
#else
NIS.cs.hlsl -T cs -m 6_0 -D NIS_FP16=0 -D NIS_HDR_MODE={0,1} -D NIS_OUTPUT_FORMAT=0 -D NIS_THREAD_GROUP_SIZE={128,256}
NIS.cs.hlsl -T cs -m 6_2 -D NIS_FP16=1 -D NIS_HDR_MODE={0,1} -D NIS_OUTPUT_FORMAT=0 -D NIS_THREAD_GROUP_SIZE={128,256}
#endif

// NRI_ENABLE_IMGUI_EXTENSION
Imgui.vs.hlsl -T vs
Imgui.fs.hlsl -T ps
